body {
    background-color: #fefefe;
}

nav#layout-mainmenu {
    background-color: #255fad;
}

.control-breadcrumb {
    margin: -10px 0px 20px -10px;
    background-color: #d0d9dd;
    border-radius: 10px;

    li {
        color: #fff;
        background-color: #80b3d7;

        &:after {
            border-bottom: 21.5px solid transparent;
            border-left: 15px solid #80b3d7;
        }
        &:before {
            border-bottom: 21.5px solid transparent;
            border-left: 15px solid #d0d9dd;
        }
        &:first-child {
            border-radius: 10px 0 0 10px;
        }
    }
}


#layout-sidenav {
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(158,186,206,1) 0%, rgba(3,150,255,1) 100%);

    ul {
        li:first-child a {
            padding: 1.429em .714em;
        }

        li a {
            height: 80px;
            width: 80px;
            margin: 10px;
            border-radius: 15px;

            .nav-label {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        li a:hover {
            background-color: rgba(255,255,255,.15);
        }
        li.active a {
            background-color: rgba(255,255,255,.3);
        }
    }
}

form.layout.sticky-form-buttons {

    .layout-row .layout {
        margin-bottom: 10px;
    }

    .form-buttons {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}