.tropical-storm {
    margin-right: -15px;

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
    {
        padding-left: 0;
        padding-right: 15px;
    }

    .form-control,
    .select2-container--default .select2-selection,
    .custom-checkbox label:before,
    .field-recordfinder
    {
        border-radius: 0;
    }
    .custom-switch {
        margin-top: 7px;
    }

    .select2-container--default.select2-container--focus .select2-selection,
    .select2-container--default.select2-container--open .select2-selection,
    input:focus,
    textarea:focus,
    .field-recordfinder:focus-within
    {
        border-bottom-color: rgb(91, 120, 153);
    }

    .form-group,
    .form-group.layout-item {
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .field-checkboxlist .radio,
    .field-checkboxlist .checkbox {
        margin-bottom: 10px;
    }

    .field-datepicker .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/* .form-group, .form-group.layout-item {
    padding-bottom: 15px;
    margin-bottom: 0;
} */

/* ----------------------- tropical storm custom styles -------------------------- */
.form-control.autonumeric {
    text-align: right;
}
.strech-control .checkbox {
    height: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.strech-group .checkbox {
    padding-top: 45px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.form-buttons.catchy {
    margin: 15px -20px 0px -20px;
    padding: 20px;
    background-color: #d5d5d5;
    border-top: 3px solid #d0d0d0;
}
.form-buttons.catchy button.oc-icon-trash-o.btn-icon:before {
    color: #fff;
}
.static-text {
    & > label {
        margin-bottom: 0;
    }
    .form-control {
        background: transparent;
        border-width: 1px 0;
        border-bottom-color: #D4D8DA;
        border-top-color: transparent;
        padding: 7px 2px;
        box-shadow: none;

        &.scrollable {
            overflow-y: auto;
        }
    }
    &.is-required >label:not(.custom-switch):after, &.is-required >.field-switch >label:after {
        display: none;
    }
}

.pb-5px, .p-b-5px {
    padding-bottom: 5px !important;
}

.label-lg > label {
    font-size: 14px;
    font-weight: bold;
    color: #405261;
}

th.nohead {
    * {
        visibility: hidden;
    }
}
td.actions {
    a {
        margin-right: 10px;
        padding: 0 10px !important;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    [class^="oc-icon-"]:before, [class*=" oc-icon-"]:before {
        margin-right: 3px;
    }
}

/* ------------------- global october storm style patches ------------------------ */
.field-repeater li.field-repeater-item.collapsed .repeater-item-collapsed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 60px);
}

/* ------------------------- overide october style --------------------------------*/
.control-list.list-scrollable:hover {
    overflow: auto hidden;
}