.hero-container {
    height: calc(100vh - 110px);
    background-color: aliceblue;
}
.hero-content {
    display: flex;
    height: calc(100% - 45px);
    gap: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-identity {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
}
.app-identity > img {
    height: 16rem;
}
.app-identity h2 {
    font-size: 4rem;
    font-weight: bold;
}
.app-identity p {
    font-size: 2.5rem;
}
.hero-links {
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: center;
    background-color: rgb(148, 195, 197);
}
.hero-links a:not(.btn) {
    font-size: 2rem;
    color: #ffffff;
    padding: 1rem 0;
}
.hero-links a:hover {
    color: #d4d4d4;
}