<div class="loading-indicator-container">
    <?php if ($this->popupFormGetContext() === 'preview'): ?>
        <button
            type="button"
            data-control="popup"
            data-handler="onPopupForm"
            data-extra-data="manage_id: <?= $formModel->id ?>, popupform_context: 'update' ?>"
            data-size="giant"
            data-dismiss="modal"
            class="btn btn-default oc-icon-pencil"
        >
            Update
        </button>
        <button
            class="btn btn-primary"
            data-dismiss="modal"
        >
            <span class="mx-md d-inline-block">OK</span>
        </button>
    <?php else: ?>
        <span class="btn-text m-r-md">
            <a href="javascript:;" data-dismiss="modal">Urung</a>
        </span>

        <?php if ($formModel->exists): ?>
            <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-left"
                data-request="onDeleteViaPopup"
                data-request-data="manage_id: <?= $formModel->getKey() ?>"
                data-load-indicator="Deleting..."
                data-request-confirm="Delete this?">
            </button>
            <button
                type="submit"
                data-request="onUpdateViaPopup"
                data-request-data="manage_id: <?= $formModel->getKey() ?>"
                data-request-form="#<?= $this->formGetId('popup-form') ?>"
                data-hotkey="ctrl+s, cmd+s"
                data-request-data="close:1"
                data-load-indicator="Saving..."
                class="btn btn-primary">
                <u>S</u>impan
            </button>
        <?php else: ?>
            <button
                type="submit"
                data-request="onCreateViaPopup"
                data-request-form="#<?= $this->formGetId('popup-form') ?>"
                data-hotkey="ctrl+s, cmd+s"
                data-request-data="close:1"
                data-load-indicator="Saving..."
                class="btn btn-primary">
                <u>S</u>impan
            </button>
        <?php endif ?>
    <?php endif ?>
</div>