<div class="report-widget hero-container">
    <h3><?= e($this->property('title')) ?></h3>

    <?php if (!isset($error)): ?>
        <div class="hero-content">
            <div class="app-identity">
                <img src="<?= $logo ?>" alt="Logo">
                <div>
                    <h2><?= e($appName) ?></h2>
                    <p><?= e($tagline) ?></p>
                </div>
            </div>
            <?php if ($this->property('showQuickLinks')): ?>
                <div class="hero-links">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    <a href="#">Link 4</a>
                    <a href="#">Link 5</a>
                </div>
            <?php endif ?>
        </div>
    <?php else: ?>
        <p class="flash-message static warning"><?= e($error) ?></p>
    <?php endif ?>
</div>
