p.form-control-static {
    background: transparent;
    border-width: 1px 0;
    border-bottom-color: #D4D8DA;
    border-top-color: transparent;
    padding: 7px 2px;
}
p.form-control-static.align-left {
    text-align: left;
}
p.form-control-static.align-right {
    text-align: right;
}
p.form-control-static.align-center {
    text-align: center;
}

p.form-control-static span.text-empty {
    font-style: italic;
    color: #aaa;
}
p.form-control-static span.text-value {
    font-style: normal;
    color: #666;
}