<div class="callout fade in callout-warning">
    <div class="header">
        <i class="icon-warning"></i>
        <h3>Gagal Mengimport Data</h3>
        <p>Silakan periksa kembali data-data pada berkas yang Anda unggah.</p>
    </div>
    <div class="content">
      <?php foreach ($failures as $row => $columns): ?>
      <p>Data pada baris <strong><?= $row ?></strong> tidak valid:</p>
      <ul>
        <?php foreach($columns as $column): ?>
        <li>
          <strong><?= $column['attribute'] ?></strong>:
          <?php if ($column['value'] == ''): ?>
            <em style="color: grey">&lt;kosong&gt;</em>
          <?php else: ?>
            <em><?= $column['value'] ?></em>
          <?php endif ?>.<br>
          <?= $column['errors'] ?>
        </li>
        <?php endforeach ?>
      </ul>
      <?php endforeach ?>
    </div>
</div>

<div class="callout fade in callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3>Muat ulang (refresh) halaman ini jika Anda hendak mengunggah ulang berkas yang telah diedit.</h3>
    </div>
</div>