<div class="modal-content">
  <?= Form::ajax('onImport', ['files' => true]) ?>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Impor Kegiatan Tugas Jabatan</h4>
    </div>
    <div class="modal-body">
        <div id="import-alert"></div>
        <div class="form-group text-field span-full is-required">
            <?= Form::label('file_import', 'Berkas Excel') ?>
            <?= Form::file('file_import', ['class' => 'form-control']) ?>
            <small class="form-text text-muted">
              Format berkas excel untuk impor,
              klik <a href="#" data-request="onGetImportTemplate" data-request-success="window.open(data.url, '_blank');">disini.</a>
            </small>
        </div>
    </div>
    <div class="modal-footer">
      <div class="loading-impor-container">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button
          type="submit"
          class="btn btn-primary"
          data-browser-validate
          data-attach-loading
          data-load-indicator="Mengimpor berkas..."
        >
          Unggah Berkas &amp; Impor
        </button>
      </div>
    </div>
  <?= Form::close() ?>
</div>
